<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.booksfeed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="hardwareAccelerated=true" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexWarning"
        tools:targetApi="m">

        <activity
            android:name=".ui.home.HomeFragment"
            android:parentActivityName=".ui.home.HomeFragment" />
        <activity
            android:name=".activities.ScanActivity"
            android:label="Detect Text"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.OcrActivity" />

        <activity android:name=".ISBNFragment" />

        <activity android:name=".ISBNSearchActivity"
            android:parentActivityName=".ISBNFragment" />

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BarcodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".CaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".SearchISBNFragment" />

        <activity android:name=".WishlistFragment" />

        <activity
            android:name=".Wiliest2Activity"
            android:label="Wishlist"
            android:parentActivityName=".WishlistFragment"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".CustomAdapter" />

        <activity android:name=".MyDatabaseHelper" />
        <activity
            android:name=".UpdateActivity"
            android:parentActivityName=".Wiliest2Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".AddActivity"
            android:label="Add Book"
            android:parentActivityName=".Wiliest2Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>